# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
studentai10.txt
studentai1000.txt
studentai10000.txt
studentai100000.txt
studentai1000000.txt
studentai1000000.txt
studentai10000000.txt
isvedimas.txt
Nesimokantys1000.txt
Nesimokantys10000.txt
Nesimokantys100000.txt
Nesimokantys1000000.txt
Nesimokantys10000000.txt
Pirmunai1000.txt
Pirmunai10000.txt
Pirmunai100000.txt
Pirmunai1000000.txt
Pirmunai10000000.txt
main.exe.manifest